<h1>Add a Artist</h1>
<p>Add an artist here:</p>

<form action="/categories" method="post">
  <label for="categoryName">Artist name</label>
  <input id="categoryName" name="categoryName" type="text">
  <button type="submit">Add</button>
</form>

<p><a href="/">Back home</a></p>
<p><a href="/categories">Back to Artists.</a></p>