<h1>CD Details: </h1>

<h2>@Model["cd"].GetTitle()</h2>
<h3>Category: @Model["category"].GetName()</h3>

<a href='/categories/@Model["category"].GetId()/cd/new'>Add another CD</a>
<a href='/categories'>View all artists</a>